/*-- scss:defaults --*/

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Inter&display=swap');

$font-family-sans-serif:  -apple-system, BlinkMacSystemFont, "Inter" !default;
$font-family-serif:       "Inter" !default;

$font-size-base:              1.0rem !default;

// Nav bar

.li.a.dropdown-item {
  color: "#2B2423";
}

.dropdown-text {
  color: "#FFFFFF";
}

// Typography

h1.title {
  font-family: "Inter";
  font-size: 30px;
}

h1.title.display-7 {
  font-family: "Inter";
}

h3.no-anchor.listing-title {
  font-weight: 400;
}

h3.anchored {
  font-weight: 400;
}

h2.anchored {
  font-weight: 400;
}

h4 {
  font-weight: 400;
}

a {
  font-weight: 400;
}
p.subtitle.lead {
  text-align: center;
}

a:href {
  color: #00ab6b;
}

a:hover {
    color: #038252;
    text-decoration: none;
}

//** Global textual link color.
$link-color:            #E2402E !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;
//** Link decoration.
$link-decoration: none;
$link-hover-decoration: none;

.navbar {
  color: #FFFFFF;
}

.navbar-title {

  font-family: "Inter";
}

a.sidebar-item-text.sidebar-link {
    color: #FFFFFF;
}

.navbar li.dropdown-header {
  text-transform: none;
}

.quarto-listing-category {
    font-family: "Inter";
}

.quarto-listing-category-title {
    font-family: "Inter";
}